{% extends 'layout.html' %}
    
{% block title %}
    Sponsor Register page
{% endblock %}
{% block content %}
<h1 class = "display-1">Sponsor Registeration</h1>
<form action="" class="form" method = "post">
    <br>
    <div class = "form-group">
        <label for = "name" class = "form-label">Name</label>
        <input type="text", name = 'name' required class = "form-control">
    </div>
    <br>
    <div class = "form-group">
        <label for = "username" class = "form-label">Username</label>
        <input type="text", name = 'username' required class = "form-control">
    </div>
    <br>
    <div class = "form-group">
        <label for = "password">Password</label class = "form-label">
        <input type="password", name = 'password' required class = "form-control">
    </div>
    <br>
    <div class = "form-group">
        <label for = "industry">Industry</label class = "form-label">
        <input type="text", name = 'industry' required class = "form-control">
    </div>
    <br>
    <div class="form-group">
        <input type="submit" value = "Register as Sponsor" class = "btn btn-primary">
    </div>
</form>


{% endblock %}