{% extends 'layout.html' %}

{% block title %}
    Edit campaigns
{% endblock %}

{% block content %}

<h1 class="display-1">
    Edit  campaign
</h1>

<form action="{{ url_for('edit_campaign_post', id=campaign.id) }}" method="post" class="form">

    <div class="form-group">
        <label for="title" class="form-label">Campaign Name:</label>
        <input type="text" name="title" id="title" class="form-control" value = "{{campaign.title}}" required>
        
        <label for="budget" class="form-label">Budget:</label>
        <input type="text" name="budget" id="budget" class="form-control" value = "{{campaign.budget}}" required>

        <label for="description" class="form-label">Description:</label>
        <input type="text" name="desc" id="desc" class="form-control" value = "{{campaign.desc}}">

        <label for="start_date" class="form-label">Starting Date:</label>
        <input type="date" name="start_date" id="start_date" class="form-control"value = "{{campaign.start_date}}" required>

        <label for="end_date" class="form-label">Ending Date:</label>
        <input type="date" name="end_date" id="end_date" class="form-control"value = "{{campaign.end_date}}" required>

        <label for="status" class="form-label">Visibility:</label>
        <select name="status" id="status" class="form-control" value = "{{campaign.status}}" required>
            <option value="Public" selected>Public</option>
            <option value="Private">Private</option>
        </select>


    </div>
    <button type="submit" class="btn btn-success">
        <i class="fas fa-plus    "></i>
        Update
    </button>
</form>

{% endblock %}