{% extends 'layout.html' %}

{% block title %}
    Admin Dashboard
{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    
    <div><a href="{{ url_for('admin_profile') }}" class="btn btn-primary">Profile</a></div>
    
    <div class="dashboard-content">
        <div>
            <h4>List of Campaigns</h4>
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Proposed Amount</th>
                    <th>Description</th>
                    <th>Visibility</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    </tr>
                    {% if campaigns %}
                        {% for campaign in campaigns %}
                    <tr>
                        <td>{{ campaign.id }}</td>
                        <td>{{ campaign.title }}</td>
                        <td>{{ campaign.budget }}</td>
                        <td>{{ campaign.desc }}</td>
                        <td>{{ campaign.visibility }}</td>
                        <td>{{ campaign.start_date }}</td>
                        <td>{{ campaign.end_date }}</td>
                        <td>
                            {% if campaign.ad_requests %}
                                {% for ad_request in campaign.ad_requests %}
                                    {{ ad_request.status }}
                                {% endfor %}
                            {% else %}
                                No ad requests
                            {% endif %}
                        </td>         
                    </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="7">No campaigns found.</td>
                    </tr>
                    {% endif %}
        
                </table>
            </div>
            <div>
            
                <h4>List of influencers</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Reach</th>
                            <th>Username</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% if influencers %}
                            {% for influencer in influencers %}
                            <tr>
                                <td>{{ influencer.id }}</td>
                                <td>{{ influencer.name }}</td>
                                <td>{{ influencer.category }}</td>
                                <td>{{ influencer.reach }}</td>
                                <td>{{ influencer.username }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="6">No influencers found.</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div>
                <h4>List of Sponsors</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Industry</th>
                            
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if sponsors %}
                            {% for sponsor in sponsors %}
                            <tr>
                                <td>{{ sponsor.id }}</td>
                                <td>{{ sponsor.name }}</td>
                                <td>{{ sponsor.industry }}</td>
                                <td>{{ sponsor.username }}</td>
                            </tr>
                            {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="5">No sponsors found.</td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>


        </div>
{% endblock %}
